<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3">
    <div class="flex items-center gap-4">
      <.link navigate="/">
      <strong class="text-xl">LiveWave |></strong>
      </.link>

      <.link
        navigate="/users"
        class="card rounded-lg bg-zinc-900 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-100"
      >
        👤 Users
      </.link>
      <.link
        navigate="/chatrooms"
        class="card rounded-lg bg-zinc-900 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-100"
      >
        💬 Chats
      </.link>
    <.link
        navigate="/forums"
        class="card rounded-lg bg-zinc-900 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-100"
      >
        🗒️ Forums
      </.link>
    </div>
      <.link
        navigate="/auth/signout"
        class="card rounded-lg bg-zinc-900 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-100"
      >
        Log out <span aria-hidden="true">&rarr;</span>
      </.link>
  </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
